In [42]:
from pyarrow.parquet import ParquetFile

In [46]:
import pyarrow as pa

In [47]:
import pandas as pd

In [48]:
from sqlalchemy import create_engine

In [49]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [67]:
engine.connect()

In [53]:
file = ParquetFile("yellow_tripdata_2022-01.parquet")

In [54]:
selected_rows = next(file.iter_batches(batch_size = 10000))

In [61]:
data = pa.Table.from_batches([selected_rows]).to_pandas()

In [58]:
table_name = "yellow_taxi_trip_data"

In [59]:
pd.io.sql.get_schema(data, name=table_name, con=engine)

'\nCREATE TABLE yellow_taxi_trip_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" FLOAT(53), \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53), \n\tairport_fee FLOAT(53)\n)\n\n'

In [60]:
data.to_sql(name=table_name, con=engine)

1000